<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mooc.mapper.ClassScoreMapper" >


    <resultMap id="classScoreResultMap" type="com.mooc.pojo.ClassScore" >
        <id column="cs_id" property="id"></id>
        <result column="cs_c_id" property="cId"></result>
        <result column="cs_s_id" property="sId"></result>
        <result column="cs_score" property="score"></result>
    </resultMap>

    <insert id="addClassScore" useGeneratedKeys="true" keyProperty="id">
        insert into class_score
        values (null , #{sId, #{cId}, #{score})
    </insert>

    <select id="selectBySIdAndCId" resultMap="classScoreResultMap">
        select *
        from class_score
        where cs_c_id = #{cId}
          and cs_s_id = #{sId}
    </select>

    <update id="updateScoreBySIdAndCId">
        update class_score
        set cs_score = #{newScore}
        where sc_s_id = #{sId}
          and sc_c_id = #{cId}
    </update>



</mapper>