<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mooc.mapper.ClassLogMapper" >

    <resultMap id="classLogResultMap" type="com.mooc.pojo.ClassLog" >
        <id column="cl_id" property="id"></id>
        <result column="cl_c_id" property="cId"></result>
        <result column="cl_c_name" property="cName"></result>
        <result column="cl_c_description" property="cDescription"></result>
        <result column="cl_view_num" property="viewNum"></result>
        <result column="cl_score" property="score"></result>
        <result column="cl_like_num" property="likeNum"></result>
        <result column="cl_collect_num" property="collectNum"></result>
        <result column="cl_score_num" property="scoreNum"></result>
    </resultMap>


    <!-- 添加主键返回 -->
    <insert id="addClassLog" useGeneratedKeys="true" keyProperty="id">
        insert into class_log
        values (null, #{cId}, #{cName}, #{cDescription}, #{viewNum}, #{score}, #{likeNum}, #{collectNum}, #{scoreNum})
    </insert>

    <delete id="deleteByCId">
        delete from class_log
        where cl_c_id = #{cId}
    </delete>

    <select id="selectByCId" resultMap="classLogResultMap">
        select * from class_log
        where cl_c_id = #{cId}
    </select>

    <select id="selectByScoreOrderLimNum" resultMap="classLogResultMap">
        select *
        from class_log
        order by cl_score desc
        limit #{num}
    </select>

    <update id="updateRow">
        update class_log
        set cl_c_id = #{cId},
            cl_c_name = #{cName},
            cl_c_description = #{cDescription},
            cl_view_num = #{viewNum},
            cl_score = #{score},
            cl_like_num = #{likeNum},
            cl_collect_num = #{collectNum}
        where cl_c_id = #{cId}
    </update>

    <update id="updateByCIdAndColumn">
        update class_log
        set ${columnName} = #{columnValue}
        where cl_c_id = #{cId}
    </update>

    <update id="increaseOneByCIdAndColumn">
        update class_log
        set ${columnName} = ${columnName} + 1
        where cl_c_id = #{cId}
    </update>


</mapper>