<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mooc.mapper.KnowledgeMapper" >

    <resultMap id="knowledgeResultMap" type="com.mooc.pojo.Knowledge" >
        <id column="k_id" property="id"></id>
        <result column="k_name" property="name"></result>
        <result column="k_order" property="order"></result>
    </resultMap>


    <!-- 添加主键返回 -->
    <insert id="addKnowledge" useGeneratedKeys="true" keyProperty="id">
        insert into knowledge
        values (null, #{name}, #{order})
    </insert>

    <delete id="deleteById">
        delete from knowledge
        where k_id = #{id}
    </delete>

    <delete id="deleteByName">
        delete from knowledge
        where k_name = #{name}
    </delete>

    <delete id="deleteRowsByIds">
        delete from knowledge
        where k_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOrderByName" resultType="java.lang.Integer">
        select k_order
        from Knowledge
        where k_name = #{name}
    </select>

    <select id="selectOrderById" resultType="java.lang.Integer">
        select k_order
        from knowledge
        where k_id = #{id}
    </select>

    <select id="selectKnameById" resultType="java.lang.String">
        select k_name
        from knowledge
        where k_id = #{id}
    </select>

    <select id="selectKnowledgesByKnames" resultMap="knowledgeResultMap">
        select *
        from knowledge
        where k_name in
        <foreach collection="knames" item="kname" separator="," open="(" close=")">
            #{kname}
        </foreach>
    </select>

    <update id="updateOrderByName">
        update knowledge set k_order = #{newOrder}
        where k_name = #{name}
    </update>

    <update id="updateOrderById">
        update knowledge set k_order = #{newOrder}
        where k_id = #{id}
    </update>

</mapper>